
/* 自定义侧边栏 */
.image-container {
  position: relative;
  width: 100%;
  overflow: hidden; /* 防止内容溢出 */
}

.asideimage {
  width: 100%;
  object-fit: cover; /* 保持图片比例并填充 */
  transition: opacity 0.3s ease; /* 平滑过渡效果 */
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  overflow: hidden; /* 超出文字隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
}

.image-container:hover .asideimage {
  opacity: 0;
}

.image-container:hover .description {
  opacity: 1;
  visibility: visible;
}

/* 针对移动端的字体大小设置 */
@media (max-width: 768px) { /* 768px是常见的移动端屏幕宽度 */
  #article-container {
      font-size: 18px; /* 设置字体大小为16px */
  }
}